# Default values for cytomine.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# secrets to declare:
# - admin-iam-secret
# - postgres-iam-secret
#
# kubectl -n <NAMESPACE> create secret generic <SECRET-NAME> --from-literal=password="$(pwgen 64 1)"

#
# Globals
#

global:
  domainName: null
  # will be generated as ims.<domainName>
  imsDomainName: null
  # will be generated as upload.<domainName>
  urlUpload: null
  affinity: {}
  tolerations: {}
  publicIP: "192.168.49.2/32"
  protocol: TCP
readOnceStorageClass: ""
readManyStorageClass: null


# Resource settings
tempImageStorage: "1Gi"
imageStorage: "3Gi"
mongodbStorage: "1Gi"
postgresStorage: "3Gi"

# Email settings
adminEmail: info@cytomine.coop
emailSender: your.email@gmail.com
emailReceiver: receiver@XXX.com
smtpPass: null
smtpHost: mail.smtp
smtpPort: 587

#
# Ingress - these are things that has to do with the user facing webpage
#
ingress:
  annotations:
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,dateFull,content-type-full,content-MD5
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, DELETE, OPTIONS"
    nginx.ingress.kubernetes.io/enable-access-log: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/enable-error-log: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.org/client-max-body-size: "0"
    nginx.org/proxy-connect-timeout: 3600s
    nginx.org/proxy-read-timeout: 3600s
    nginx.org/proxy-send-timeout: 3600s
  className:

images:
  app_engine: cytomine/app-engine:latest
  sam: cytomine/sam:latest
  core: cytomine/core:latest
  pims: cytomine/pims:latest
  web_ui: cytomine/web-ui:latest
  cbir: cytomine/cbir:latest
  pims_import: cytomine/python-client:latest

  #
  # External Images
  #
  postgis: postgis/postgis:15-3.5
  postgresql_iam: postgres:14
  postgresql_app_engine: postgres:14
  mongodb: mongo:4.4-focal
  pims_cache: redis:7
  redis: redis:7
  nginx: cytomine/nginx:latest
  iam: keycloak/keycloak:26.3
  e2e_tests: cytomine/e2e-tests:latest
  pullPolicy: Always
  # array of image secrets names
  imagePullSecretsNames:

#
# Services - these are the services deployed by this chart
#

# Postgresql - Main database.Stores most of data
postgresql:
  deploy: true
  port: 5432
  user: docker
  database: docker
  resources:
    requests:
      memory: "512Mi"
      cpu: "50m"
      ephemeral-storage: 1Gi
    limits:
      memory: "512Mi"
      cpu: "200m"
      ephemeral-storage: 1Gi
  storageClassName: null
  storageAccessMode: ReadWriteOnce

# MongoDB - Secondary database.Stores activity data
mongodb:
  deploy: true
  port: 27017
  statusPort: 28017
  username: mongoadmin
  database: cytomine
  resources:
    requests:
      memory: "256Mi"
      cpu: "50m"
      ephemeral-storage: 1Gi
    limits:
      memory: "256Mi"
      cpu: "200m"
      ephemeral-storage: 1Gi
  mongoStorageHostPath: null
  storageClassName: null
  storageAccessMode: ReadWriteOnce

# Redis - Cache for fast image extractor
pims_cache:
  deploy: true
  port: 6379
  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
      ephemeral-storage: 32Mi
    limits:
      memory: "256Mi"
      cpu: "200m"
      ephemeral-storage: 1Gi

redis:
  port: 6379
  storage:
    size: 1Gi
    storageClassName: null

# Core - Main Cytomine Server
core:
  deploy: true
  port: 8080
  server_id: 69308206-ed7c-454b-90b3-5639377ccd2f
  resources:
    requests:
      memory: "2Gi"
      cpu: "500m"
      ephemeral-storage: 1Gi
    limits:
      memory: "2Gi"
      cpu: "500m"
      ephemeral-storage: 1Gi

# Pims - Main Image Server
pims:
  deploy: true
  port: 5000
  resources:
    requests:
      memory: "4Gi"
      cpu: "1000m"
      ephemeral-storage: 1Gi
    limits:
      memory: "4Gi"
      cpu: "1000m"
      ephemeral-storage: 1Gi
  imageStorage:
    storageClassName: null
  tempImageStorage:
    storageClassName: null

  # Volume block for the path of the images to import.
  # Should be in the form:
  # datasetImportStorage:
  #   hostPath:
  #     path: /data/dataset
  #     type: DirectoryOrCreate
  datasetImportStorage: null


# Nginx - Main HTTP proxy dispatching incoming requests
nginx:
  deploy: false
  port: 9000
  serverID: null
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
      ephemeral-storage: 32Mi
    limits:
      memory: "256Mi"
      cpu: "200m"
      ephemeral-storage: 1Gi

# Web-ui - Cytomine GUI interface
web_ui:
  deploy: true
  port: 9090
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
      ephemeral-storage: 32Mi
    limits:
      memory: "256Mi"
      cpu: "200m"
      ephemeral-storage: 1Gi
  replicas: 1

iam:
  port: 8080
  # expects a .clientId key in the secret
  lsaaiClientIdSecretName:
  # expects a .clientSecret key in the secret
  lsaaiClientSecretSecretName:
  # the URL of the LSAAI instance
  lsaaiEndpoint:

cbir:
  port: 6000  # https://github.com/cytomine/cytomine/blob/8e5a14bf70b22e9f96a253d6402f793e8a37ce3e/cbir/Dockerfile#L37
  storage:
    size: 1Gi
    storageClassName: null

app_engine:
  port: 8080
  storage:
    size: 5Gi
    storageClassName: null
  tasks_namespace:

sam:
  port: 8000

#
# Kubernetes things
#

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname
  # template
  name: ""

containerSecurity:
  allowPrivilegeEscalation: false  # do not allow the container to switch to a user with more permissions
  privileged: false  # the container is not privileged (usually the default)
  readOnlyRootFilesystem: true  # the container does not write to the root filesystem
  userID: 20000
  groupID: 20000
  fsgroupID: 20000

# Fix volumes permissions
# will be removed soon, do not use for newly created environments
fixVolumesPermissions: false
