[submodule "pims/resources/bigpicture_metaflex"]
	path = pims/resources/bigpicture_metaflex
	url = git@github.com:imi-bigpicture/bigpicture-metaflex.git
[submodule "pims/resources/bigpicture_metadata_interface"]
	path = pims/resources/bigpicture_metadata_interface
	url = git@github.com:imi-bigpicture/bigpicture-metadata-interface.git
