# App
weights/

# Python cache
__pycache__/

# Environments
.env
.env.local
.env.dev
.env.test
.env.prod
.venv

# IDE
.vscode/

# Ruff
.ruff_cache/

# mypy
.mypy_cache/

# uv
.python-version

# pytest
.pytest_cache/
