apiVersion: apps/v1
kind: Deployment
metadata:
  name: sam
  labels:
    app: sam
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sam
  template:
    metadata:
      labels:
        app: sam
      annotations:
        checksum/config: "{{ include (print $.Template.BasePath "/sam/sam-config.yaml") . | sha256sum }}"
    spec:
      securityContext:
      {{- include "cytomine.podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "cytomine.serviceAccountName" . }}
      containers:
      -   name: sam
          securityContext:
          {{- include "cytomine.containerSecurityContext" . | nindent 14 }}
          image: "{{ .Values.images.sam }}"
          ports:
          - containerPort: {{ .Values.sam.port }}
          envFrom:
          - configMapRef:
              name: sam
          command: ["/bin/sh", "-c"]
          args: [ "fastapi run app/main.py"]
