name: CBIR

on:
  workflow_call:

permissions:
  contents: read

defaults:
  run:
    working-directory: ./cbir

# Hardcoded for compatibility
env:
  PYTHON_VERSION: "3.10"

jobs:
  lint:
    runs-on: self-hosted

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ vars.UV_VERSION }}

      - name: Lint
        run: uv run ruff check

  type-check:
    runs-on: self-hosted

    steps:
      - name: Set up the repository
        uses: actions/checkout@v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ vars.UV_VERSION }}

      - name: Type check
        run: uv run mypy cbir tests

  test:
    runs-on: self-hosted

    steps:
      - name: Set up the repository
        uses: actions/checkout@v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ vars.UV_VERSION }}

      - name: Run tests
        run: uv run pytest
        env:
          DATA_PATH: ./
          TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX: registry.cytomine.org/docker/
          WEIGHTS: ./weights/resnet
