name: Core

on:
  workflow_call:

permissions:
  contents: read

jobs:
  tests:
    runs-on: self-hosted

    steps:
      - name: Set up the repository
        uses: actions/checkout@v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK ${{ vars.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ vars.JAVA_DIST }}
          java-version: ${{ vars.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ vars.GRADLE_VERSION }}

      - name: Run tests
        run: gradle :core:test --no-daemon
        env:
          TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX: registry.cytomine.org/docker/

      - name: Upload test reports
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: core-reports
          path: core/build/reports/
          retention-days: 7

      - name: Upload test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: core/build/test-results/
          retention-days: 7

      - name: Upload Java Code Coverage (JaCoCo)
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: jacoco
          path: core/build/jacoco/
          retention-days: 7
