name: Lint and Test Charts

on:
  workflow_call:
    secrets:
      REGISTRY_DOCKER_PULL_SECRET:
        required: true

permissions: {}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0

      - name: Create Nasmespace
        if: github.ref_name != 'main'
        run: kubectl create ns cytomine-${{ github.sha }}

      - name: Create Registry secrets
        if: github.ref_name != 'main'
        run: echo "${{ secrets.REGISTRY_DOCKER_PULL_SECRET }}" | kubectl create secret generic --namespace=default docker-images-pull-secret --from-file=.dockerconfigjson=/dev/stdin --namespace=cytomine-${{ github.sha }}

      - name: Create Service Account
        if: github.ref_name != 'main'
        run: 'kubectl patch serviceaccount default --namespace=cytomine-${{ github.sha }} -p ''{"imagePullSecrets": [{"name": "docker-images-pull-secret"}]}'''

      - name: Run chart-testing (lint and install PR)
        if: github.ref_name != 'main'
        run: ct lint-and-install --target-branch ${{ github.event.repository.default_branch }} --chart-dirs=helm/charts/ --helm-extra-set-args="--set=images.global_tag=${{ github.sha }} --set=images.global_prefix=registry.cytomine.org/" --all --namespace=cytomine-${{ github.sha }}

      - name: Run chart-testing (lint and install main)
        if: github.ref_name == 'main'
        run: ct lint-and-install --target-branch ${{ github.event.repository.default_branch }} --chart-dirs=helm/charts/ --all --namespace=cytomine-${{ github.sha }}
